@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: A, sans-serif;
    background-color: #fff;
}
.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: rgb(54, 126, 142);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-top: 15%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(200, 196, 255);
}

.button:hover {
    background-color: #919891;
}
.screen {
    border: solid 2px #000;
}
